{% extends "../base_page.html" %}
            {% block content %}
<div class="maindiv__all_homes_page">
                    <div class="maindiv__all_homes_page">
                        {% for home in results %}
                        <div class="home__premium_homes">
                            <div class="home__houselisting">
                                <a href="homes/{{home.id}}">
                                <div ng-click="MnCtrl.detailhouseid=home.id; MnCtrl.opendetailspage=true;">
                                    <div class="home__imageholder">
                                        <img class="home__houseimage" src="/images/{{home.image}}" />
                                        {% if home.sold == True %}
                                        <img class="home__redline" src="/static/redline.png" ng-if=home.sold/>
                                        {% endif %}
                                    </div>
                                    <div class="home__housetitle">{{home.title}}</div>
                                    <div class="home__housestreet">{{home.street}}</div>
                                    <div class="home__housecity">{{home.city}}, {{home.state}}</div>
                                    <div class="home__housedescription">{{home.description}}</div>
                                    {% if home.sold == False %}
                                    <div class="home__houseprice" ng-show=!{{home.sold}}>${{home.price}}</div>
                                    {% else %}
                                    <div class="home__housesold" ng-show={{home.sold}}>Sold</div>
                                    {% endif %}
                                </div>
                                <form action="{% url 'favorites' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" class="next" name="next" value=''>
                                    <input type="hidden" id="homepk" name="homepk" value={{home.pk}}>
                                    {% if not home.is_favorite and user.is_authenticated %}
                                    <button id="favorite">
                                        <i class="favorite_unfavoriteicons">
                                            favorite_border
                                        </i>
                                    </button>
                                    {% endif %}
                                    {% if home.is_favorite and user.is_authenticated %}
                                        <button id="unfavorite" type="submit" value="submit">
                                            <i class="favorite_unfavoriteicons">
                                                favorite
                                            </i>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                        {% endfor %}

                        {% if not results %}
                        <div class="home__nohomemessagediv">
                            <p class="home__nohomemessage">No Homes Found</p>
                        </div>
                        {% endif %}
                    </div>

        </div>

{% endblock %}