<div class="housedetail" ng-init="MnCtrl.pageloadhomedetails()">
    <div class="housedetail__wrapper">
        <div class="home__houseref">Reference: {{MnCtrl.listingdetail.reference_number}}</div>
        <div class="home__housetitle">{{MnCtrl.listingdetail.title}}</div>
        <div class="home__housestreet">{{MnCtrl.listingdetail.street}}</div>
        <div class="home__housecity">{{MnCtrl.listingdetail.city}}, {{MnCtrl.listingdetail.state}}</div>
        <button class="housedetail__addtofavorites" ng-if="MnCtrl.current_user" ng-click="MnCtrl.favorite(MnCtrl.listingdetail.id, MnCtrl.current_user.id)">Favorite</button>
        <div class="home__housedescription">{{MnCtrl.listingdetail.description}}</div>
        <div class="home__houseprice" ng-if='!MnCtrl.listingdetail.sold'>${{MnCtrl.listingdetail.price}}</div>
        <div class="home__housesold" ng-if='MnCtrl.listingdetail.sold'>Sold</div>
        <div class="home__imageholder">
            <img class="housedetail__houseimage" ng-src={{MnCtrl.listingdetail.image}}></img>
        </div>
        <div class="housedetail__extraimageswrapper" ng-repeat="image in MnCtrl.listingdetail.extraimages">
            <img class="housedetail__extraimage" ng-src={{image.additionalimage}}></img>
            <div class="housedetail__extratext">{{image.description}}</div>
        </div>
    </div>
</div>
